body {
  background: url("https://cdn.shutterstock.com/shutterstock/videos/2638418/thumb/6.jpg")no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
}

#title {
  text-align: center;
  font-size: 100px;
  font-family: 'Monoton', cursive;
  color: rgb(188,198,204);
}

#instructions{
  width:15%;
  height: 150px;
  position: absolute;
  font-size: 10px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: white;
  margin-right: 10px;
  background-color:rgb(188,198,204);
  border-radius: 30%;



}
#wrapper {
  width: 810px;
  height: 690px;
  margin: 30px auto ;
  border-radius: 50%;



}

.col {
  width: 14.30%;
  height: 90%;
  margin: 0 auto;
  float: left;
  box-sizing: border-box;
  border-radius: 50%;

}

.tile {
  box-sizing: border-box;
  border: 3px solid white;
  background-color: rgb(188,198,204);
  width: 100%;
  height: 16%;
  text-align: center;
  border-radius: 50%;

}


#thisplayer1 {
  padding: 50px;
  float: left;
  font-size: 40px;
  font-family: 'Monoton', cursive;
  display: none;
}

#thisplayer2 {
  padding: 50px;
  float: right;
  font-size: 40px;
  font-family: 'Monoton', cursive;
  display: none;

}




/*Fireworks animation-source:https://codepen.io/yshlin/pen/ylDEk; */
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 207px -272.66667px #00ffa2, -139px -265.66667px #ff0040, -153px -94.66667px #00a2ff, 1px 59.33333px #ff00a6, 120px -307.66667px #00e6ff, -241px -330.66667px #00e1ff, 133px -249.66667px #00ff2b, 154px -122.66667px #00ff88, 25px -123.66667px #00ffd0, -141px -22.66667px #d9ff00, -144px -280.66667px #0062ff, 221px -173.66667px blue, 250px -326.66667px #8c00ff, -96px -290.66667px #00ffea, -128px -90.66667px #aeff00, 212px -33.66667px #00ff33, 225px -67.66667px #00eeff, -91px -387.66667px #ff00c4, -67px -79.66667px #ff8000, -206px 30.33333px #ffe600, 80px -85.66667px #ffcc00, 220px -325.66667px #ff00dd, 180px 41.33333px #0084ff, -64px -149.66667px #ff00ee, 31px -229.66667px #ff0022, -165px -95.66667px #8c00ff, 114px -115.66667px #00ffc4, -233px 42.33333px #ff00fb, -195px -10.66667px #2b00ff, -192px 5.33333px #2bff00, 111px -48.66667px #d0ff00, -173px -327.66667px #6fff00, 247px -205.66667px #ff00a2, 107px -389.66667px deepskyblue, 117px -67.66667px #0066ff, 109px -354.66667px #6f00ff, -168px -71.66667px #4400ff, 118px 16.33333px #0077ff, -141px -361.66667px #ff0400, -165px -291.66667px #44ff00, -99px -290.66667px #2fff00, -226px -109.66667px #00ff2b, 63px -83.66667px #9d00ff, 157px -315.66667px #00f2ff, 153px 20.33333px #ff5100, 166px -260.66667px #000dff, 64px -297.66667px #ff6200, -234px -191.66667px #ff005e, 72px 33.33333px #00ff33, -110px -74.66667px #ff1a00, -78px 54.33333px #00ddff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 207px -272.66667px #00ffa2, -139px -265.66667px #ff0040, -153px -94.66667px #00a2ff, 1px 59.33333px #ff00a6, 120px -307.66667px #00e6ff, -241px -330.66667px #00e1ff, 133px -249.66667px #00ff2b, 154px -122.66667px #00ff88, 25px -123.66667px #00ffd0, -141px -22.66667px #d9ff00, -144px -280.66667px #0062ff, 221px -173.66667px blue, 250px -326.66667px #8c00ff, -96px -290.66667px #00ffea, -128px -90.66667px #aeff00, 212px -33.66667px #00ff33, 225px -67.66667px #00eeff, -91px -387.66667px #ff00c4, -67px -79.66667px #ff8000, -206px 30.33333px #ffe600, 80px -85.66667px #ffcc00, 220px -325.66667px #ff00dd, 180px 41.33333px #0084ff, -64px -149.66667px #ff00ee, 31px -229.66667px #ff0022, -165px -95.66667px #8c00ff, 114px -115.66667px #00ffc4, -233px 42.33333px #ff00fb, -195px -10.66667px #2b00ff, -192px 5.33333px #2bff00, 111px -48.66667px #d0ff00, -173px -327.66667px #6fff00, 247px -205.66667px #ff00a2, 107px -389.66667px deepskyblue, 117px -67.66667px #0066ff, 109px -354.66667px #6f00ff, -168px -71.66667px #4400ff, 118px 16.33333px #0077ff, -141px -361.66667px #ff0400, -165px -291.66667px #44ff00, -99px -290.66667px #2fff00, -226px -109.66667px #00ff2b, 63px -83.66667px #9d00ff, 157px -315.66667px #00f2ff, 153px 20.33333px #ff5100, 166px -260.66667px #000dff, 64px -297.66667px #ff6200, -234px -191.66667px #ff005e, 72px 33.33333px #00ff33, -110px -74.66667px #ff1a00, -78px 54.33333px #00ddff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 207px -272.66667px #00ffa2, -139px -265.66667px #ff0040, -153px -94.66667px #00a2ff, 1px 59.33333px #ff00a6, 120px -307.66667px #00e6ff, -241px -330.66667px #00e1ff, 133px -249.66667px #00ff2b, 154px -122.66667px #00ff88, 25px -123.66667px #00ffd0, -141px -22.66667px #d9ff00, -144px -280.66667px #0062ff, 221px -173.66667px blue, 250px -326.66667px #8c00ff, -96px -290.66667px #00ffea, -128px -90.66667px #aeff00, 212px -33.66667px #00ff33, 225px -67.66667px #00eeff, -91px -387.66667px #ff00c4, -67px -79.66667px #ff8000, -206px 30.33333px #ffe600, 80px -85.66667px #ffcc00, 220px -325.66667px #ff00dd, 180px 41.33333px #0084ff, -64px -149.66667px #ff00ee, 31px -229.66667px #ff0022, -165px -95.66667px #8c00ff, 114px -115.66667px #00ffc4, -233px 42.33333px #ff00fb, -195px -10.66667px #2b00ff, -192px 5.33333px #2bff00, 111px -48.66667px #d0ff00, -173px -327.66667px #6fff00, 247px -205.66667px #ff00a2, 107px -389.66667px deepskyblue, 117px -67.66667px #0066ff, 109px -354.66667px #6f00ff, -168px -71.66667px #4400ff, 118px 16.33333px #0077ff, -141px -361.66667px #ff0400, -165px -291.66667px #44ff00, -99px -290.66667px #2fff00, -226px -109.66667px #00ff2b, 63px -83.66667px #9d00ff, 157px -315.66667px #00f2ff, 153px 20.33333px #ff5100, 166px -260.66667px #000dff, 64px -297.66667px #ff6200, -234px -191.66667px #ff005e, 72px 33.33333px #00ff33, -110px -74.66667px #ff1a00, -78px 54.33333px #00ddff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 207px -272.66667px #00ffa2, -139px -265.66667px #ff0040, -153px -94.66667px #00a2ff, 1px 59.33333px #ff00a6, 120px -307.66667px #00e6ff, -241px -330.66667px #00e1ff, 133px -249.66667px #00ff2b, 154px -122.66667px #00ff88, 25px -123.66667px #00ffd0, -141px -22.66667px #d9ff00, -144px -280.66667px #0062ff, 221px -173.66667px blue, 250px -326.66667px #8c00ff, -96px -290.66667px #00ffea, -128px -90.66667px #aeff00, 212px -33.66667px #00ff33, 225px -67.66667px #00eeff, -91px -387.66667px #ff00c4, -67px -79.66667px #ff8000, -206px 30.33333px #ffe600, 80px -85.66667px #ffcc00, 220px -325.66667px #ff00dd, 180px 41.33333px #0084ff, -64px -149.66667px #ff00ee, 31px -229.66667px #ff0022, -165px -95.66667px #8c00ff, 114px -115.66667px #00ffc4, -233px 42.33333px #ff00fb, -195px -10.66667px #2b00ff, -192px 5.33333px #2bff00, 111px -48.66667px #d0ff00, -173px -327.66667px #6fff00, 247px -205.66667px #ff00a2, 107px -389.66667px deepskyblue, 117px -67.66667px #0066ff, 109px -354.66667px #6f00ff, -168px -71.66667px #4400ff, 118px 16.33333px #0077ff, -141px -361.66667px #ff0400, -165px -291.66667px #44ff00, -99px -290.66667px #2fff00, -226px -109.66667px #00ff2b, 63px -83.66667px #9d00ff, 157px -315.66667px #00f2ff, 153px 20.33333px #ff5100, 166px -260.66667px #000dff, 64px -297.66667px #ff6200, -234px -191.66667px #ff005e, 72px 33.33333px #00ff33, -110px -74.66667px #ff1a00, -78px 54.33333px #00ddff;
  }
}
@keyframes bang {
  to {
    box-shadow: 207px -272.66667px #00ffa2, -139px -265.66667px #ff0040, -153px -94.66667px #00a2ff, 1px 59.33333px #ff00a6, 120px -307.66667px #00e6ff, -241px -330.66667px #00e1ff, 133px -249.66667px #00ff2b, 154px -122.66667px #00ff88, 25px -123.66667px #00ffd0, -141px -22.66667px #d9ff00, -144px -280.66667px #0062ff, 221px -173.66667px blue, 250px -326.66667px #8c00ff, -96px -290.66667px #00ffea, -128px -90.66667px #aeff00, 212px -33.66667px #00ff33, 225px -67.66667px #00eeff, -91px -387.66667px #ff00c4, -67px -79.66667px #ff8000, -206px 30.33333px #ffe600, 80px -85.66667px #ffcc00, 220px -325.66667px #ff00dd, 180px 41.33333px #0084ff, -64px -149.66667px #ff00ee, 31px -229.66667px #ff0022, -165px -95.66667px #8c00ff, 114px -115.66667px #00ffc4, -233px 42.33333px #ff00fb, -195px -10.66667px #2b00ff, -192px 5.33333px #2bff00, 111px -48.66667px #d0ff00, -173px -327.66667px #6fff00, 247px -205.66667px #ff00a2, 107px -389.66667px deepskyblue, 117px -67.66667px #0066ff, 109px -354.66667px #6f00ff, -168px -71.66667px #4400ff, 118px 16.33333px #0077ff, -141px -361.66667px #ff0400, -165px -291.66667px #44ff00, -99px -290.66667px #2fff00, -226px -109.66667px #00ff2b, 63px -83.66667px #9d00ff, 157px -315.66667px #00f2ff, 153px 20.33333px #ff5100, 166px -260.66667px #000dff, 64px -297.66667px #ff6200, -234px -191.66667px #ff005e, 72px 33.33333px #00ff33, -110px -74.66667px #ff1a00, -78px 54.33333px #00ddff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
